html {
    background-color: black;
    color: white;
    font-family: monospace;
}

.title {
    display: block;
    text-align: center;
    justify-content: center;
    font-size: 24px;
}

#title {
    font-size: 50px;
}