html {
    background-color: black;
    color: white;
    font-family: monospace;
}

.title {
    display: block;
    text-align: center;
    justify-content: center;
    font-size: 24px;
}

#title {
    font-size: 50px;
}

img {
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
}

#ParticleCanvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    inset: 0;
    z-index: 1;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 24px;
    width: 100%;
    height: 120px;
    background-color: #090909;
    z-index: 10;
}

.footer-auxiliary {
    border-bottom: 1px solid #ffffff40;
    align-items: center;
    padding-bottom: 20px;
}

.center-circle {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 40px auto;
    border: 3px solid #ccc;
    position: relative;
    z-index: 5;
    cursor: pointer;
}
